img {
    width: 100%;
    margin-top: 15px;
}

div {
    width: 40%;
    margin-top: 50px;
    margin: 0 auto; /* центрирует div */
    text-align: center;
}

h1, p {
    font-family: "Playwrite IT Moderna";
}

p{
    margin-top: 5px;
}

h1 {
    margin-top: 5px;
    margin-bottom: 1px;
}

.photolink {
    font-size: 13px;
}